
@media print {
  * {
    -webkit-print-color-adjust: exact !important;
  }
  .print-no-break {
    break-inside: avoid;
  }
  .print-not-display {
    display: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity .4s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.link {
  color: #007bff;
}
